#header {
	background: url(../img/header-bg.jpg);
	background-size: cover;
	height: 50em;
}

#about {
	background: #ffffff;
	padding-bottom: 5em;
}

#projects {
	background: #93c9f7;
	color: white;
	padding-bottom: 5em;
}

#music {
	background: #eeeeee;
}

#contact {
	color: white;
	background: #343433;
}

.proj-sub-header {
	font-family: 'nexa_lightregular', sans-serif;
	font-size: 3em;
	font-style: italic;
	text-align: center;
	color: #fff;
	padding-top: -2em;
}

.section-sub-header {
	font-family: 'nexa_lightregular', sans-serif;
	text-align: center;
	font-size: 2em;
	padding-bottom: 1em;
}

.me {
	text-align: center;
	padding-top: 15em;
}

img.me-img {
	border: 0;
	border-radius: 50%;
	height: 15em;
	width: 15em;
}
.header-text {
	font-family: 'nexa_boldregular', sans-serif;
	color: white;
	letter-spacing: 0.2em;
}

.header-sub-text {
	font-family: 'nexa_lightregular', sans-serif;
	font-size: 2.8em;
}

.about-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.7em;
	padding-top: 1em;
}
a.about-link {
	color: #e3747c;
	text-decoration: none;
}

a.about-link:hover {
	opacity: 0.7;
}

a.proj-link {
	color: white;
	text-decoration: underline;
}

a.proj-link {
	opacity: 1;
}

.section-header {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 5em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.5em;
	padding-bottom: -1.0em;
}

.skills {
	font-family: 'Lato', sans-serif;
	font-size: 2.0em;
	font-weight: 300;
	letter-spacing: 0.2em;
	text-align: center;
}

.social {
	color: black;
	font-size: 3em;
	text-align: center;
	letter-spacing: 1em;
	padding-top: 1em;
}

a.social-link {
	color: black;
}

a.social-link:hover {
	color: #e3747c;
}

.music-img {
	padding-bottom: 1.5em;
}

 section#contact {
 	background: #3F4040;
 	padding-bottom: 5em;
 }

 section#contact .section-heading {
    color: #fff;
    padding-bottom: 0;
}

 section#contact .section-subheading {
    color: #f5d6b2 ;
    padding-top: 0;
}

section#contact .form-group {
    margin-bottom: 1.5em;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 15px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 3em 0;
    text-align: center;
    color: black;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
.social-footer {
	padding: 0 2em;
	font-size: 2em;
}

.btn-xl {
    padding: 15px 30px;
    border-color: #e3747c;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .05em;
    color: #fff;
    background-color: #e3747c;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f5d6b2;
    color: #fff;
    background-color: #f5d6b2;
}


/* .project-img {
	border: 1em solid white;
	border-color: white;
	margin-bottom: 1em !important; 
	width: 75%;
	height: auto;
	margin: 0 auto;
}
*/

@media (min-width: 1200px) {
	.box {
	  cursor: pointer;
	  height: 800px;
	  position: relative;
	  overflow: hidden;
	  width: 1200px;
	  margin-bottom: 3em;
	  text-align: center;
	}

	.box img {
	  position: absolute;
	  left: 0;
	  -webkit-transition: all 300ms ease-out;
	  -moz-transition: all 300ms ease-out;
	  -o-transition: all 300ms ease-out;
	  -ms-transition: all 300ms ease-out;
	  transition: all 300ms ease-out;
	}

	.box .overbox {
	  background-color: #fa5e70;
	  position: absolute;
	  top: 0;
	  left: 0;
	  color: #fff;
	  z-index: 100;
	  -webkit-transition: all 300ms ease-out;
	  -moz-transition: all 300ms ease-out;
	  -o-transition: all 300ms ease-out;
	  -ms-transition: all 300ms ease-out;
	  transition: all 300ms ease-out;
	  opacity: 0;
	  width: 100%;
	  height: 100%;
	  padding: 130px 20px;
	}

	.box:hover .overbox { opacity: 1; }

	.box .overtext {
	  -webkit-transition: all 300ms ease-out;
	  -moz-transition: all 300ms ease-out;
	  -o-transition: all 300ms ease-out;
	  -ms-transition: all 300ms ease-out;
	  transition: all 300ms ease-out;
	  transform: translateY(40px);
	  -webkit-transform: translateY(40px);
	}

	.box .title {
	  font-family: 'nexa_boldregular', sans-serif;
	  font-size: 6em;
	  text-transform: uppercase;
	  opacity: 0;
	  transition-delay: 0.1s;
	  transition-duration: 0.2s;
	  padding-top: 2em;
	}

	.box:hover .title,
	.box:focus .title {
	  opacity: 1;
	  transform: translateY(0px);
	  -webkit-transform: translateY(0px);
	}

	.box .tagline {
		font-family: 'nexa_lightregular', sans-serif;
	  font-size: 2em;
	  opacity: 0;
	  transition-delay: 0.2s;
	  transition-duration: 0.2s;
	}

	.box:hover .tagline,
	.box:focus .tagline {
	  opacity: 1;
	  transform: translateX(0px);
	  -webkit-transform: translateX(0px);
	}
}

@media (max-width: 1199px){
	.title {
	  font-family: 'nexa_boldregular', sans-serif;
	  font-size: 3em;
	  text-transform: uppercase;
	  color: black;
	  text-align: center;
	}

	.tagline {
		font-family: 'nexa_lightregular', sans-serif;
	 	font-size: 1.5em;
	 	color: black;
	 	padding-bottom: 2em;
	 	text-align: center;
	}
	a.proj-link {
	color: #e3747c;
	text-decoration: underline;
	}

	a.proj-link {
		opacity: 1;
	}
}
p {
	padding-bottom: 1em;
}

h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.bold {
	font-weight: 700;
}

/* =============================HOVER NAVBAR EFFECT================================= */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media(max-width: 1199px){
	.navbar{
	}
	#header {
	background: url(../img/header-bg.jpg);
	background-size: cover;
	height: 30em;
	}
	.me {
	text-align: center;
	padding-top: 8em;
	}

	img.me-img {
		border: 0;
		border-radius: 50%;
		height: 8em;
		width: 8em;
	}
	.header-text {
	font-family: 'nexa_boldregular', sans-serif;
	color: white;
	letter-spacing: 0.2em;
	}

	.header-sub-text {
		font-size: 1.5em;
	}

	.proj-header {
	font-size: 4em;
	}

	.proj-sub-header {
		font-family: 'nexa_lightregular', sans-serif;
		font-size: 2.2em;
		font-style: italic;
		text-align: center;
		color: #e3747c;
		padding-top: -2em;
	}

	.skills {
		font-size: 1.5em;
	}
	h1 {
	font-size: 2.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2.5em;
	}
}

@media(max-width: 991px) {
	.navbar{
		font-size: 0.6em;
	}
	.section-header {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1.5em;
	padding-bottom: -1.0em;
	}
	.title {
	  font-family: 'nexa_boldregular', sans-serif;
	  font-size: 1.5em !important;
	  text-transform: uppercase;
	  color: black;
	  text-align: center;
	}

	.tagline {
		font-family: 'nexa_lightregular', sans-serif;
	 	font-size: 1em !important;
	 	color: black;
	 	padding-bottom: 2em;
	 	text-align: center;
	}
	.section-sub-header {
	font-family: 'nexa_lightregular', sans-serif;
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 1em;
	}
	.proj-sub-header {
	font-family: 'nexa_lightregular', sans-serif;
	font-size: 1em;
	font-style: italic;
	text-align: center;
	color: #fff;
	padding-top: -2em;
	}
	.social {
	color: black;
	font-size: 3em;
	text-align: center;
	letter-spacing: 0.3em;
	padding-top: 1em;
	}
}

@media(max-width: 1199px) {
	.navbar{
		font-size: 0.6em;
	}
}