html. body {
    font-family: 'Open sans', sans-serif;
    height: 100%;
    width: 100%;
}

section#header {
    max-height: 100%;
    background: #272727;
}

section#header h1 {
    font-family: 'Bree Serif', serif;
    font-size: 6em;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.blue {
    color: #57aba8;
}

section#header h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: white;
    text-align: center;
    padding-bottom: 150px;
}

section#about {
    margin-top: 2em;
}

section#about .section-header {
    font-family: 'Bree Serif', serif;
    font-size: 4em;
    margin-bottom: 0.5em;
    text-align: left;
}

section#about .about-text {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: left;
}

section#experience {
    background: white;
}

section#experience h1 {
    font-family: 'Bree Serif', serif;
    color: Black;
    font-size: 4em;
    text-align: left;
    margin-bottom: 1em;
}

section#music h1 {
    font-family: 'Bree Serif', serif;
    color: Black;
    font-size: 4em;
    text-align: left;
    margin-bottom: 0.5em;
}

section#contact {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    padding-bottom: 50px;

}

section#contact h1 {
    font-family: 'Bree Serif', serif;
    color: Black;
    font-size: 3em;
    text-align: center;
}

section#contact form {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.5em;
    color: black;
}

.contactButton {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    padding: 20px 40px;
    border: 3px solid white;
    background: #57aba8;
}

img.me {
    border-radius: 50%;
    border: 10px solid #57aba8;
    overflow: hidden;
    max-height: 150px;
    margin: 0 auto;
}

.contactText {
    font-family: 'Open sans', sans-serif;
    font-size: 0.5em;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px;
}

.footer {
    background: #212121;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.social-links ul {
    list-style: none;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
}

.social-links ul li {
    display: inline-block;
    padding: 0 30px;
}

.social-links ul li a {
    font-size: 2.5em;
    color: #3e8481;
}

.social-links ul li a:hover {
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

.social-links-footer ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.social-links-footer ul li {
    display: inline-block;
    padding: 0 30px;
}

.social-links-footer ul li a {
    font-size: 2em;
    color: #3e8481;
}

.social-links-footer ul li a:hover {
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none;
}

a.about-link {
    font-weight: 400;
    color: #3e8481;
    text-decoration: none;
}

a.about-link:hover {
    color: #872525;
    text-decoration: none;
}

.skills {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    vertical-align: top;
}

ul.skills-list {
    list-style: none;
    text-align: center;
    margin: 30px 0px;
    padding: 0 0;
}

ul.skills-list li {
    display: inline-block;
    padding: 0 20px;
}

ul.skills-list li img {
    max-height: 60px;
}

.project-item {
    height: 400px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.proj-head {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 700;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.even {
    background: #57aba8;
}

.odd {
    background: #3e8481;
}

.viewsitebtn {
    background: rgba(0, 0, 0, 0);
    padding: 10px 15px;
    border: white 5px solid;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 175px;
}

.even .viewsitebtn:hover {
    transition: 0.3s;
    background: white;
    color: #57aba8;
}

.odd .viewsitebtn:hover {
    transition: 0.3s;
    background: white;
    color: #3e8481;
}

.music-img {
    max-width: 100%;
}


/* navbar */

.navbar,
.icon-bar {
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: white;
    background: #272727;
}

.icon-bar {
    background: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: right;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar ul li {
    margin: 0 auto;
    text-align: center;
}

.navbar ul li a,
a.navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: 300;
}

.navbar ul li a:hover {
    color: Black;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    border-color: #fff !important;
    /* Change border color around this buttons */
    background: #323232;
    /* Change background for button itself */
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
    /* Change color for horizontal lines */
}


/* ------- END NAVBAR ---------- */

@media(max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: left;
        vertical-align: top;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #fff;
        /* Change color for horizontal lines */
    }
    .nav {
        background: #272727;
        text-align: left;
    }
    .navbar ul li {
        margin: 0 auto;
        width: 100%;
    }
    .proj-head {
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 700;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .viewsitebtn {
        background: rgba(0, 0, 0, 0);
        padding: 10px 15px;
        border: white 5px solid;
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        margin-top: 150px;
    }
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 0 0 1% 0%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF FOUR  */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 75%;
}

.span_2_of_4 {
    width: 50%;
}

.span_1_of_4 {
    width: 25%;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100%;
    }
}
